*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}    
.container{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 170px 1fr;
    min-height: 100vh;
}
body{
    font-family: 'roboto' , sans-serif ;
}
.sidebar{
    grid-row: span 2;
    background-color: #3E2723;
}
.header{
    background-color:#FFFFFF;
}
.content-area{
    background-color: #C9A882;
}
.nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 20px;
}
svg{
    width: 20px;
    height: 24px;
    fill: #FFFFFF;
}
li{
    color: #FFFFFF;
    display:flex;
    font-size: 15px;
    font-weight: 500;
    gap: 10px;
    align-items: center;
    
}
.dashboard{
    color: white;
    display:flex;
    gap: 10px;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 30px;

}
.dashboard-svg{
    width: 50px;
    height: 50px;
}
.settings{
    margin-top: 20px;
}
.first-row{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.icon{
    fill:black
}
.text{
    font-family: 'roboto' , sans-serif;
    font-weight: 600;
}
.greeting{
    display: flex;
}
.second-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.hi-there{
    font-size: 10px;
}
.buttons {
    display: flex;
    gap: 10px;
}

button {
    background-color: #7D4F3A;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}